/* ------------------------------------------- */
/* SECTION ABOUT | IN HOME PAGE
/* ------------------------------------------- */

.section-about {
    background-color: $color-grey-light-1;
    padding: 15rem 0 5rem 0;
    margin-top: -20vh;

    &__header-3 {
        text-align: center;
        font-size: 1.9rem;
    }

    &__paragraph {
        text-align: center;
        font-size: 1.7rem;
        padding-bottom: 15rem;
    }

    &__button {
      @include button-center;
      top: 50%;
    }

    // * --- MEDIA QUERIES --- * \\
    @include respond(tab-port) {
        padding: 5rem 0 0 0;
    }

    @include respond(ipad-p) {
        padding: 25rem 0 0 0;
    }

    @include respond(phone) {
        padding: 15rem 0 0 0;
    }
}