/* ------------------------------------------- */
/* FOOTER
/* ------------------------------------------- */

.footer {
    background-color: $color-black;
    padding: 10rem;
    font-size: 1.4rem;
    color: $color-grey-light-1;

    &__page {
        position: relative;
        margin-top: -4rem;
        margin-right: -20%;
        max-width: 100%;

        // MEDIA QUERIES \\
        @include respond(tab-land) {
            padding-top: 20rem;
        }

        @include respond(tab-port) {
            padding-top: 30rem;
        }

        @include respond(iphone-p) {
            margin-right: -15%;
        }
    }

    &__logo {
        height: 35rem;
        max-width: 100%;
    }

    // * --- MEDIA QUERIES --- * \\
    @include respond(tab-port) {
        padding: 8rem 0;
    }
}
