/* ------------------------------------------- */
/* COLOR VARIABLES
/* ------------------------------------------- */

$color-primary: #e74c3c;
$color-primary-light: #e95a4b;
$color-primary-dark: #c0392b;

/* FOR THE FORM */
$color-primary-dark-2: #55c57a;
$color-secondary-light: #ffb900; // Color For Tours Card Gradient
$color-secondary-dark: #ff7730; // Color For Tours Card Gradient


/* GREY SHADES */

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

/* B & W */

$color-white: #fff;
$color-black: #000;

/* COLORS FOR SECTIONS BACKGROUNDS */

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #f1f0f0;

/* -- BORDER RADIUS  -- */
$border-radius-default: .3rem; // BORDER RADIUS VARIABLE OF 3px 

/* ------------------------------------------- */
/* GRID VARIABLES
/* ------------------------------------------- */

$grid-width: 114rem;    // MAX WIDTH
$gutter-vertical: 8rem; // VERTICAL SPACING BETWEEN COLUMNS
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem; // HORIZONTAL SPACING BETWEEN COLUMNS

/* ------------------------------------------- */
/* FONT
/* ------------------------------------------- */

$default-font-size: 1.6rem;